<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BPTool</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Latest compiled and minified CSS -->
    <link href="~/css/boostrap_4_5_2.min.css" rel="stylesheet" />
    <!-- jQuery library -->
    <script src="~/js/jquery_3_5_1_min.js"></script>

    <link rel="SHORTCUT ICON" href="~/lib/images/Title_logo.png" type="image/jpg" />
    <link rel="stylesheet" href="/css/datatable/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/bpdashCSS/bpdashboard.css" type="text/css" />
    <script src="~/js/bootstrapJquery.min.js"></script>
    <script src="~/js/meterJS/jquery.min.js"></script>
    <script src="~/js/meterJS/jquery.dataTables.min.js"></script>
    @*<script src="~/js/meterJS/highcharts.js"></script>
            <script src="~/js/meterJS/fusioncharts.js"></script>
            <script src="~/js/meterJS/highcharts-more.js"></script>
        <script src="~/js/meterJS/exporting.js"></script>*@
    <script src="~/js/meterJS/PracticeWiseNew.js"></script>
    <script src="~/js/meterJS/highcharts.js"></script>
    <script src="~/js/meterJS/highcharts-more.js"></script>
    <script src="~/js/meterJS/meter.js"></script>
    <link href="~/css/meter.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #673ab7 !important; ">
            <a class="navbar-brand" href="#">(expleo)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <label class="">Business partner complaince dashboard</label>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav w-100">
                    <li class="nav-item active ml-auto">
                        <a class="nav-link" href="/Home/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Report/Index">Report</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/employee/getall">Employee</a>
                    </li>
                    <li class="nav-item dropdown mr-5">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: #673ab7 !important; ">
            <div class="container">
                <a class="navbar-brand fontColor" asp-area="" asp-controller="Home" asp-action="Index">.::(expleo)::.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <script type="text/javascript">var theDate = new Date(); document.write(theDate.getFullYear());</script>

            Expleo Group. All rights reserved.

        </div>
    </footer>
        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
