@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


</div>
@*<asp:ScriptManager ID="sm1"   EnablePageMethods="true" EnablePartialRendering="true">
        <Services>
            <asp:ServiceReference Path="~/WService.asmx" />
        </Services>
    </asp:ScriptManager>*@

@*  <div id="wrapper">*@
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
                top: 0px; width: 100%; height: 100%; background-color: #6846c7 ; z-index: 30001;
                opacity: 0.8; display: none">
    <p style="position: absolute; color: White; top: 50%; left: 45%;">
        Loading...
        <img src="Images/ajax-loading.gif" />
    </p>
</div>
@*<div id="divHeader" style="background-color: #6846c7;" class="auto-style5">
        <div style="width: 100%; height: 100%; background-color: #6846c7; text-align: center;
                vertical-align: middle; line-height: 60px; width: 100%;">
            <img src="Images/Expleo.jpg" alt="Expleo" title="Expleo Group" style="margin-left: 5px; " class="auto-style9" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="spISHeader" style="height: 50%; color: white; font-size: xx-large; margin-left: 10%; align-content:center;">&nbsp;&nbsp;&nbsp; BUSINESS PARTNER COMPLIANCE DASHBOARD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:ImageButton ID="imgBtnLogout" AlternateText="Logout" ToolTip="Logout"
                             ImageUrl="~/Images/logoutround.png" Style="height: 80%; float: right; margin-right: 2%;
                    padding-top: 10px;" OnClick="imgBtnLogout_Click" />
            <asp:ImageButton ID="imgBtnSettings" AlternateText="Settings" ToolTip="Settings"
                               ImageUrl="~/Images/settings.png" Style=" height: 70%; float: right;
                    margin-right: 1%; padding-top: 12px; display: none" OnClick="imgBtnSettings_Click" />
            <img id="imgHelp" src="Images/Help.png" alt="Help" title="Help" style="height: 60px;
                    float: right; padding-top: 5px; margin-right: 1%" onclick="HelpShow()" onmouseover="CategoryEffects(this.id)"
                 onmouseout="CategoryEffectsRelease(this.id)" />
        </div>
        <div id="divHeaderTab" style="font-family: calibri; display: block; " class="auto-style6">
            <div id="df" style="background-color: #6846c7; line-height: 25px;
                    text-align: center; color: White" class="auto-style6">
                <Label ID="lblRole"   Style="color: White; font-size: medium; float: right;
                        margin-right: 1%"></Label>
                <Label ID="lblUser"   Style="color: White; font-size: medium; float: right;
                        margin-right: 2%"></Label>
            </div>
            <br />
        </div>
    </div>*@
@*<div id="divLoginInstructions" class="instrunctionpopup">
        <div style="background-color: #6846c7 ; height: 10%; line-height: 260%;
                        width: 100%">
            <div style="text-align: center">
                <span id="Span1" style="color: White; font-size: x-large; text-align: center">Instructions</span>
            </div>
        </div>
        <div style="width: 100%; height: 90%; display: inline; float: left; overflow-y: auto">
            <ul>
                <li style="font-weight: bold; font-size: larger;">
                    Scope & Purpose:
                    <p style="font-weight: normal; font-size: medium">
                        The CDT (Compliance Dashboard Tool) captures the outputs arrived out of delivery
                        audits done throughout the year (External audits/ Delivery surprise audits/ Client
                        mock audits) and provides an on-screen compliance dashboard. The dashboard can be
                        drilled down from an Organization, Practice, Account and finally to a project level
                        report.
                    </p>
                </li>
                <li style="font-weight: bold; font-size: larger;">
                    Instructions:
                    <ol style="font-weight: normal; font-size: medium">
                        <li>Provide the Domain user name and Password for logging into the tool</li>
                        <li>Access for users will be READ only</li>
                        <li>Practice Leads will have access to all client accounts in their respective practices</li>
                        <li>
                            PM/TM of an account shall have access only to their respective client accounts in
                            a practice. A PM/TM can have access to more than one account for which they are
                            assigned In such a case access shall be provided to respective client accounts.
                        </li>
                        <li>CDT provides Data on 12 Key Delivery audit processes</li>
                        <li>
                            Compliance shall be reported as follows.
                            <table border='1' style="border-collapse: collapse; line-height: 25px; width: 60%;
                                            text-align: center">
                                <thead>
                                    <tr>
                                        <th style="border: 1px solid gray">
                                            #
                                        </th>
                                        <th style="border: 1px solid gray">
                                            Process Name
                                        </th>
                                        <th style="border: 1px solid gray">
                                            Reporting Level
                                        </th>
                                        <th style="border: 1px solid gray">
                                            Reporting Frequency
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            1
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            OI compliance
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Practice
                                        </td>
                                        <td>
                                            Monthly
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border: 1px solid gray">
                                            2
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Performance measure
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Account
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Quarterly
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            3
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Test planning
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Project
                                        </td>
                                        <td style="border: 1px solid gray">
                                            As applicable
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            4
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Resource Movement
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Account
                                        </td>
                                        <td style="border: 1px solid gray">
                                            As applicable
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            5
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Test quality
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Project
                                        </td>
                                        <td style="border: 1px solid gray">
                                            As applicable
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            6
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Defect Management
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Project
                                        </td>
                                        <td style="border: 1px solid gray">
                                            As applicable
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            7
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Test closure
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Project
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Monthly
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            8
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Archival
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Project
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Monthly
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            9
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Effort tracking
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Project
                                        </td>
                                        <td style="border: 1px solid gray">
                                            As applicable
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            10
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Configuration management
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Project
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Quarterly
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            11
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Competency/Training
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Practice
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Annual
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid gray">
                                            12
                                        </td>
                                        <td style="text-align: left; padding-left: 3%; border: 1px solid gray">
                                            Information Security
                                        </td>
                                        <td style="border: 1px solid gray">
                                            Project
                                        </td>
                                        <td style="border: 1px solid gray">
                                            As applicable
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            All audit processes are covered on monthly, quarterly, half yearly or annually based
                            on their applicability as per the above table.
                        </li>
                        <li>
                            Processes which are not covered/not applicable for a particular account/ practice/
                            project for a selected month will reflect as “NA” in the tool.
                        </li>
                        <li>
                            Data reported will be on a percentage basis. Some of the processes are verified
                            100% while other processes are audited on sampling basis and based on the evidences
                            shared by the project teams.
                        </li>
                        <li>
                            Data available in the Dashboard is for the last 24 months. Data previous to this
                            will be archived and available in the database.
                        </li>
                        <li>
                            The account wise audit report can be downloaded from the tool. The response to the
                            action points cannot be done in the tool. Corrective action with closure details
                            for all action items should be updated and forwarded to process team for validation,
                            review and closure.
                        </li>
                        <li>
                            The color legend used in the tool is as follows
                            <ol style="list-style: 'A'">
                                <li>> 85% - Green for sustain</li>
                                <li>70 – 85% Amber for improve </li>
                                <li><70% Red for immediate intervention.</li>
                            </ol>
                        </li>
                        <li>
                            Reports:
                            <ol>  Reports can be extracted from compliance dashboard tool based on the below requirements.</ol>

                            <ol style="list-style:'A'">
                                <li>
                                    Audit Summary:
                                    <ol> Practice wise account wise  aging for open action items can be extracted for a specific period.</ol>
                                </li>
                                <li>
                                    Audit Data:
                                    <ol> Account wise summary of audit data can be extracted for a specific period.</ol>
                                </li>

                                <li>
                                    OI compliance:
                                    <ol>     Account wise summary on OI compliance can be extracted </ol>
                                </li>

                            </ol>

                        </li>
                        <li>
                            For support and dash board related queries email to <u><i>emerald.johnson@expleogroup.com</i></u>
                            or call Ex:3497
                        </li>
                        <li>
                            For access or addition/removal of account related queries email to <span style="text-decoration: underline">
                                Murugan.Thandayuthapani<u><i></i></u>
                            </span>
                            or call Ex: 3374.
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
        <img id="imgLoginInstructionsClose" src="Images/Button Blue Close.png" alt="Close"
             title="Close" style="height: 40px; width: 40px; margin-top: -5%; position: fixed;
                        margin-left: -1.3%; cursor: pointer" onclick="ClosePopup(this.id)" />
    </div>*@
@*<div id="divInstructions" class="instrunctionpopup">
        <div style="background-color: #6846c7; height: 10%; line-height: 260%;
                        width: 100%">
            <div style="text-align: center">
                <span id="Span3" style="color: White; font-size: x-large; text-align: center">
                    Operating
                    Instructions
                </span>
            </div>
        </div>
        <div id="div3" style="width: 100%; height: 90%; display: inline; float: left; overflow-y: auto">
            <ul>
                <li style="font-weight: bold; font-size: larger;">
                    Application Navigation:
                    <p style="font-weight: normal; font-size: medium">
                        Below is the Login page. Use your Domain username and Password.
                    </p>
                    <div style="text-align: center">
                        <img id="imgLoginPage" src="Images\login page.png" alt="Login Page" title="Login Page"
                             style="height: 75%; width: 75%" />
                    </div>
                </li>
                <li style="font-weight: bold; font-size: larger;">
                    Practice wise tables:
                    <ol style="font-weight: normal; font-size: medium">
                        <li>Once you login, the practice wise compliance is displayed . </li>
                        <li>The compliance table shows the latest 3 months data for viewing. </li>
                        <li>By clicking the (-->) icon we get the previous 21 months compliance data. </li>
                        <li>By clicking (-->) icon you will get the latest months data.</li>
                        <li>
                            The left side of the page shows the organization wide compliance percentage for
                            the latest month i.e. percentage on average of all practices in dial format.
                        </li>
                        <li>
                            Below to the Organization Dial there are 6 smaller Dials which shows the practice
                            wise compliance for the latest month.
                        </li>
                    </ol>
                    <div style="text-align: center">
                        <img id="imgPracticeWiseTable" src="Images\homepage.png" alt="Practice Wise"
                             title="Practice Wise" style="height: 75%; width: 75%" />
                    </div>
                </li>
                <li style="font-weight: bold; font-size: larger;">
                    Account wise tables:
                    <ol style="font-weight: normal; font-size: medium">
                        <li>
                            In the Practice-wise table, click on the value cells to see the account wise details
                            under a particular practice.
                        </li>
                        <li>The compliance table shows the latest 3 months data for viewing. </li>
                        <li>
                            By clicking (-->) icon we can move to get the previous 21 months compliance data.
                        </li>
                        <li>By clicking (-->) icon you will get the latest months. </li>
                        <li>The left side Dial shows the average compliance for that practice.</li>
                        <li>
                            To close this pop up, click
                            <img id="imgCloseins1" src="Images/Button Blue Close.png" style="height: 30px; width: 30px;" />
                        </li>
                    </ol>
                    <div style="text-align: center">
                        <img id="imgAccountWiseTable" src="Images\cards.png" alt="Account Wise" title="Account Wise"
                             style="height: 75%; width: 75%" />
                    </div>
                </li>
                <li style="font-weight: bold; font-size: larger;">
                    Process wise tables:
                    <ol style="font-weight: normal; font-size: medium">
                        <li>
                            In the Account wise table click on the value cells to see process wise details under
                            a particular client account.
                        </li>
                        <li>The compliance table shows the latest 3 months data for viewing. </li>
                        <li>
                            By clicking (-->) icon we can move to get the previous 21 months compliance data.
                        </li>
                        <li>By clicking (-->) icon you will get the latest months. </li>
                        <li>The left side dial show the average compliance for that Account.</li>
                        <li>
                            To close this pop up, click
                            <img id="img2" src="Images/Button Blue Close.png" style="height: 30px; width: 30px;" />
                        </li>
                    </ol>
                    <div style="text-align: center">
                        <img id="imgProcessWiseTable" src="Images\lbg.png" alt="Process Wise" title="Process Wise"
                             style="height: 75%; width: 75%" />
                    </div>
                </li>
                <li style="font-weight: bold; font-size: larger;">
                    Data Extraction:
                    <ol style="font-weight: normal; font-size: medium">
                        <li>
                            In the Process-wise table, click on the value cells to get the actual data for the
                            appropriate process.
                        </li>
                        <li>The data along with the audit observation is displayed in the screen. </li>
                        <li>
                            The Data can be extracted in an excel sheet for updating the corrective action and
                            will have to be sent to process for validation and closure.
                        </li>
                        <li>
                            To close this pop up, click
                            <img id="img3" src="/lib/images/Button Blue Close.png" style="height: 30px; width: 30px;" />
                        </li>
                    </ol>
                    <div style="text-align: center">
                        <img id="imgDataExtraction" src="/lib/images/data.png" alt="Data Extraction" title="Data Extraction"
                             style="height: 75%; width: 75%" />
                    </div>
                </li>
                <li>
                    For support and dash board related queries email to <u><i>emerald.johnson@expleogroup.com</i></u>
                    or call Ex:3497
                </li>
                <li>
                    For access or addition/removal of account related queries email to <u><i>Murugan.Thandayuthapani@expleogroup.com</i></u>
                    or call Ex: 3374.
                </li>
            </ul>
            <div id="div7" style="padding-top: 1%; height: 87%; max-height: 87%; overflow-y: auto">
                <div style="margin-left: 3%; margin-right: 2%">
                </div>
            </div>
        </div>
        <img id="imgCloseInstructions" src="/lib/images/Button Blue Close.png" alt="Close" title="Close"
             style="height: 40px; width: 40px; margin-top: -5%; position: fixed; margin-left: -1.3%;
                        cursor: pointer" onclick="ClosePopup(this.id)" />
    </div>*@
<div id="divOrganizations" class="auto-style21">
    <div id="divImage" style="max-height: 100%; overflow-y: hidden;
                    background-color: white; margin-top: 6.1%; display: inline; border-right:0px solid black;" class="auto-style16">
        <div id="divOrganization" style="font-family: Calibri; border: 0px solid darkgray; visibility:hidden;" class="auto-style17">
        </div>
        <div id="divPractices" style="font-family: Calibri;" class="auto-style18">
            <div style="height: 85%">
                <HyperLink id="HyperLink3" NavigateUrl="~/Dashboardwithoutinstruction.aspx">

                    <div id="divPractice1" ; style="height: 90%; width: 19%; border: 0px solid darkgray;
                                float: left; font-size: medium; display: table; text-align: center; position: static;">

                    </div>
                </HyperLink>
                <HyperLink id="HyperLink12" onclick="PracticePopup(this)" NavigateUrl="~/Dashboardwithoutinstruction.aspx">

                    <div id="divPractice2" style="height: 90%; width: 19%; border: 0px solid darkgray;
                                float: left; font-size: medium; display: table; text-align: center; position: static" onclick="PracticePopup(this)">
                    </div>
                </HyperLink>
                <HyperLink id="HyperLink13" NavigateUrl="~/Dashboardwithoutinstruction.aspx">

                    <div id="divPractice3" style="border: 0px solid darkgray;
                                font-size: medium; display: table; text-align: center; " class="auto-style19">
                    </div>
                </HyperLink>
                <HyperLink id="HyperLink14" NavigateUrl="~/Dashboardwithoutinstruction.aspx">

                    <div id="divPractice4" style="border: 0px solid darkgray;
                                font-size: medium; display: table; text-align: center; " class="auto-style19">
                    </div>
                </HyperLink>
                <HyperLink id="HyperLink15" NavigateUrl="~/Dashboardwithoutinstruction.aspx">

                    <div id="divPractice5" style="border: 0px solid darkgray;
                                font-size: medium; display: table; text-align: center; " class="auto-style19">
                    </div>
                </HyperLink>

                <br />

                <div style="background-color: white; color: black; height: 10%; width: 19%; float: left;
                                border: 0px solid darkgray; font-size: medium; display: table; text-align: center" ; onclick="Dashboardwithoutinstruction.aspx">


                    <b> <span id="spPractice1"></span> </b>
                </div>
                <div style="background-color: white; color: black; height: 10%; width: 19%; float: left;
                                border: 0px solid darkgray; font-size: medium; display: table; text-align: center" ; onclick="Dashboardwithoutinstruction.aspx">

                    <b> <span id="spPractice2"></span> </b>
                </div>
                <div style="background-color: white; color: black; border: 0px solid darkgray; font-size: medium;
                                    display: table; text-align: center" class="auto-style20">

                    <b>  <span id="spPractice3"></span> </b>
                </div>
                <div style="background-color: white; color: black; border: 0px solid darkgray; font-size: medium; display: table; text-align: center" class="auto-style20">

                    <b>  <span id="spPractice4"></span> </b>
                </div>
                <div style="background-color: white; color: black; border: 0px solid darkgray; font-size: medium; display: table; text-align: center" class="auto-style20">

                    <b>  <span id="spPractice5"></span> </b>
                </div>

            </div>

            <div style="height: 87%">
                <HyperLink id="HyperLink2" NavigateUrl="~/Dashboardwithoutinstruction.aspx">
                    <div id="divPractice6" style="height: 90%; width: 19%; border: 0px solid darkgray;
                                float: left; font-size: medium; display: table; text-align: center; position: static">
                    </div>
                </HyperLink>
                <HyperLink id="HyperLink16" NavigateUrl="~/Dashboardwithoutinstruction.aspx">

                    <div id="divPractice7" style="height: 90%; width: 19%; border: 0px solid darkgray;
                                float: left; font-size: medium; display: table; text-align: center; position: static">
                    </div>
                </HyperLink>
                <HyperLink id="HyperLink17" NavigateUrl="~/Dashboardwithoutinstruction.aspx">

                    <div id="divPractice8" style="border: 0px solid darkgray;
                                font-size: medium; display: table; text-align: center; " class="auto-style19">
                    </div>
                </HyperLink>
                <HyperLink id="HyperLink18" NavigateUrl="~/Dashboardwithoutinstruction.aspx">

                    <div id="divPractice9" style="border: 0px solid darkgray;
                                font-size: medium; display: table; text-align: center; " class="auto-style19">
                    </div>
                </HyperLink>
                <HyperLink id="HyperLink19" NavigateUrl="~/Dashboardwithoutinstruction.aspx">

                    <div id="divPractice10" style="border: 0px solid darkgray;
                                font-size: medium; display: table; text-align: center; " class="auto-style19">
                    </div>
                </HyperLink>

                <br />
                <div style="background-color: white; color: black; height: 10%; width: 19%; float: left;
                                border: 0px solid darkgray; font-size: medium; display: table; text-align: center">
                    <b><span id="spPractice6"></span> </b>
                </div>
                <div style="background-color: white; color: black; height: 10%; width: 19%; float: left;
                                border: 0px solid darkgray; font-size: medium; display: table; text-align: center">
                    <b> <span id="spPractice7"></span></b>
                </div>
                <div style="background-color: white; color: black; border: 0px solid darkgray; font-size: medium; display: table; text-align: center" class="auto-style20">
                    <b><span id="spPractice8"></span> </b>
                </div>
                <div style="background-color: white; color: black; border: 0px solid darkgray; font-size: medium; display: table; text-align: center" class="auto-style20">

                    <b> <span id="spPractice9"></span> </b>
                </div>
                <div style="background-color: white; color: black; border: 0px solid darkgray; font-size: medium; display: table; text-align: center" class="auto-style20">

                    <b>   <span id="spPractice10"> </span> </b>
                </div>

            </div>
        </div>
    </div>
    <div id="divResults" style="background-color: white;visibility:hidden;
                    margin-top: 6.1%; display: table" class="auto-style2">
        <div style="display: table-cell; visibility:hidden; vertical-align: middle; padding-bottom: 10%;
                        margin-right: auto; margin-bottom: 0;" class="auto-style3">
            <table style="text-align: center; margin-top: 5%; margin-left: auto; margin-right: auto; margin-bottom: 0;" class="auto-style12">
                <tr>
                    <td>
                        <ImageButton ID="imgbtnExcel" AlternateText="Export to Excel" ToolTip="Export to Excel"
                                     ImageUrl="~/Images/excel.jpg" Height="31" Width="24" Visible="false"
                                     Style="float: right" />
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td>
                        <LinkButton ID="imgbtnProcess" OnClick="imgbtnProcess_Click" Style="float: right;
                                        display: none">GO- ProcessWise</LinkButton>
                    </td>
                </tr>
            </table>
            <div>
                <span style="margin-left: 18%; font-size: large; font-style: italic;">
                    * Click on the
                    value cells to see account wise details.
                </span>
            </div>
            <div>
                <span style="margin-left: 18%; font-size: large; font-style: italic;">
                    * Access rights
                    provided for the respective practice.
                </span>
            </div>
            <img src="/lib/images/Legend_New.jpg" id="imglegend" style="margin-bottom: -12%; margin-left: 13%" class="auto-style10" />
        </div>
    </div>
    &nbsp;
</div>
@*<div id="divAuditReports" class="popup" style="overflow: hidden">
    <div id="div12" style="width: 100%; height: 100%; display: inline; float: left; overflow: hidden">
        <div style="background-color: #6846c7; height: 10%; line-height: 260%;
                        width: 100%">
            <div style="text-align: center">
                <span id="Span2" style="color: White; font-size: larger; text-align: center">Audit Types: </span>
                <select id="stAuditType" onchange="BindAuditTypeResults()" style="margin-left: 1%;"> </select>
            </div>
        </div>
        <div id="divAuditTypeResults" style="height: 87%; max-height: 87%; overflow-y: auto">
            <div style="margin-left: 3%; margin-right: 2%">
            </div>
        </div>
    </div>
    <img id="imgCloseAuditReports" src="/lib/images/Button Blue Close.png" alt="Close" title="Close"
         style="height: 40px; width: 40px; margin-top: -1.3%; position: fixed; margin-left: -1.3%;
                    cursor: pointer" onclick="ClosePopup(this.id)" />
</div>*@
<div id="divPopupPractice" class="popup">
    <div id="divPracticeDetails" style="width: 38.1%; height: 100%; display: inline;
                    float: left; border-right: 2px solid black;">
        <div style="background-color: #6846c7; height: 10%; text-align: center;
                        line-height: 260%; width: 100%">
            <span id="spPracticeProcessWiseHeader" style="color: White; font-size: x-large;"></span>
        </div>
        <div id="divPracticeChart" style="margin-top: 7%">
            <%--<Literal ID="ltPracticeChart"></Literal>--%>
        </div>
    </div>
    <img id="imgPracticeDetailsClose" src="/lib/images/Button Blue Close.png" alt="Close"
         title="Close" style="height: 40px; width: 40px; margin-top: -1.3%; position: fixed;
                    margin-left: 47.7%; cursor: pointer" onclick="ClosePopup(this.id)" />
    <div style="height: 100%">
        
        <table width="60%" style="margin-left: 1%; height: 88%">
            <tr>
                <td>
                    <table id="imgAccMinus1" style="visibility: hidden; float: right">
                        <tr>
                            <td class="ImageMinus">
                                <img src="/lib/images/kisscc0-arrow-computer-icons-symbol-button-sign-forward-back-5b7322e27b1956.4860203815342722265042.png" id="imgAccPrevMonth" height="30" width="27" alt="SQS"
                                     style="float: right; visibility: visible" onclick="MonthsChangeAccount(this.id)"
                                     onmouseover="ChangeImageEffects(this.id)" onmouseout="RestoreImageEffects(this.id)" />
                                <span class="tooltipMinus">Click on the arrow to see the details of next months.</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="height: 300px">
                    <div id="divPracticeProcessWise" style="width: 100%; float: left;">
                        <div id="divPracticeAccountWisePanel" style="vertical-align: middle; padding-bottom: 10%;
                                        margin-top: 0%; display: inline; overflow: auto;">
                        </div>
                        <div id="divPracticeAccountWiseAvg" style="width: 100%; float: left; display: table;">
                        </div>
                    </div>
                </td>
                <td>
                    <table id="imgAccPlus1">
                        <tr>
                            <td class="ImagePlus">
                                <img src="/lib/images/left.png" id="imgAccNextMonth" height="30" width="27" alt="SQS"
                                     style="float: left;" onclick="MonthsChangeAccount(this.id)" onmouseover="ChangeImageEffects(this.id)"
                                     onmouseout="RestoreImageEffects(this.id)" /><span class="tooltipPlus">
                                    Click on the arrow
                                    to see the details of previous months.
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div>
            <span style="margin-left: 6%; font-size: large; font-style: italic;">
                * Click on the
                value cells to see process wise details.
            </span>
        </div>
        <div>
            <span style="margin-left: 6%; font-size: large; font-style: italic;">
                * Use close button
                on the Right-top to close this popup.
            </span>
        </div>
    </div>
</div>
<div id="divPracticeAccountProcessData" class="popup">
    <iframe id="txtArea1" style="display: none"></iframe>
    <div id="div8" style="width: 100%; height: 100%; display: inline; float: left;">
        <div style="background-color: #6846c7; height: 10%; text-align: center;
                        line-height: 260%; width: 100%">
            <span id="spDataHeader" style="color: White; font-size: x-large;"></span>
        </div>
        <div id="div9" style="padding-top: 1%; height: 84%; max-height: 84%; overflow-y: auto">
            <ImageButton ID="imgExcel" ImageUrl="~/Images/excel.jpg" ToolTip="Export to Excel"
                         Style="height: 40px; width: 35px; position: fixed; margin-left: 71.3%; cursor: pointer;
                            display: block" OnClick="imgExcel_Click" />
            <img id="img1" src="Images/excel.jpg" alt="Close" title="Close" style="height: 40px;
                            width: 35px; position: fixed; margin-left: 71.3%; cursor: pointer; display: block"
                 onclick="ExportExcelNew()" />
            <div id="divProcessData" style="margin-left: 3%; margin-right: 2%">
                <HiddenField ID="hfdata" />
            </div>
        </div>
    </div>
    <img id="imgClosePracticeAccountProcessData" src="/lib/images/Button Blue Close.png" alt="Close"
         title="Close" style="height: 40px; width: 40px; margin-top: -1.3%; position: fixed;
                    margin-left: 78.3%; cursor: pointer; display: block" onclick="ClosePopup(this.id)" />
</div>
@*<div id="divFooter" style="height: 3%; width: 99.5%; text-align: center; position: fixed;
            bottom: 0">
        <div style="height: 50%; width: 100%; background-color: #6846c7">
        </div>
        <div style="height: 50%; background-color: #6846c7; width: 100%;">
            <span style="color: white; font-size: medium; float: right; margin-top: -0.5%;">
                ©

                <script type="text/javascript">var theDate = new Date(); document.write(theDate.getFullYear());</script>

                Expleo Group. All rights reserved.
            </span>
        </div>
    </div>*@
