@{
    ViewData["Title"] = "Dashboard";
}


<div >
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerADMIN"></div>
    </a>
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerCMG"></div>
    </a>
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerFINANCE"></div>
    </a>
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerIT"></div>
    </a>
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerLnD"></div>
    </a>
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerLEGAL"></div>
    </a>
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerPEOPLE_SERVICE"></div>
    </a>
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerRMG"></div>
    </a>
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerSALES"></div>
    </a>
    <a href="#">
        <div class="col-md-3 auto-style19" id="containerTRAVEL"></div>
    </a>
</div>

<script>
    pageLoad();
</script>
